{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>{{ new.title }} | Auto Zoom Car Rental L L C Dubai, Sports Car & Supercar Rental Dubai</title>
{% endblock title %}

{% block custom_css %}
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap">
<link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock custom_css %}

{% block content %}
<!-- Header Banner -->
    <section class="banner-header section-padding bg-img" data-overlay-dark="5" data-background="{% static 'img/slider/1.jpg' %}">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="post-wrapper">
                            <div>Home</div>
                            <div class="divider"></div>
                            <div class="text-white"><a href="/news">News</a></div>
                        </div>
                        <h1>{{ new.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- divider line -->
    <div class="line-vr-section"></div>
    <!-- Post -->
    <section class="post section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-30">
                  {{ new.body|safe }}
                </div>
            </div>
            <div class="row">
                {% for image in new.images.all %}
                  <div class="col-lg-6 col-md-12 mb-30"> <img src="{{ image.image.url }}" class="rounded-4" alt=""> </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}

{% block custom_js %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.v3.0.2.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/YouTubePopUp.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock custom_js %}
